.grid-container {
  display: grid;
  align-items: start; 
}

.carousel {
  height: auto;
  width: auto;
}

.gallery {
  grid-row: 2 / 3;
  margin-top: -20px;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.gallery {
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-timing-function: ease-in;
}
.hero {
  height: 250vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px; /* Remove margin at the bottom */
}
.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.display-3 {
  margin-top: 10px;
  font-size: 2rem; /* Adjust the title font size */
}
.display-4 {
  margin-top: 10px;
  font-size: 1.5rem; /* Adjust the title font size */
}

.lead {
  font-size: 1.5rem;

}
.Title {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 50px;
}
.contact-div {
  margin-top: 150px;
}
@media (max-width: 767px) {
  .lead {
    font-size: 1rem;
    margin-bottom: 100px;
  }
  .hero {
    height: 200vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 500px) {
  .lead {
    font-size: 1rem;
    margin-bottom: 10px;
  }
  .hero {
    height: 140vh;
    display: flex;
    align-items: center;
 /* Remove margin at the bottom */
  }
}
