.grid-container {
  display: grid;
  grid-template-rows: 100% 100%;
}

.carousel {
  height: auto;
  width: auto;
}

.gallery {
  grid-row: 2 / 3;
  margin-top: -20px;

}
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  .gallery {
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-timing-function: ease-in;
  }
  .hero {
    height: 95vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px; /* Remove margin at the bottom */
  }
  
  .display-3 {
    margin-top: 10px;
    font-size: 2rem; /* Adjust the title font size */
  }
  .display-4 {
    margin-top: 10px;
    font-size: 1.5rem; /* Adjust the title font size */
  }
  
  .lead {
    font-size: 1.5rem; 
    margin-bottom: 100px;
  }
  .Title{
    text-align: center;
  }
  .contact-div {
    margin-top: 150px;
    padding-bottom: 200px;
  }
  @media (max-width: 767px) {
    .carousel {
      height: auto;
      width: auto;
    }
    .lead {
      font-size: 1rem; 
      margin-bottom: 100px;
    }
    .hero {
      height: 77vh; 
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px; /* Remove margin at the bottom */
    }
    
  }